<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{contact?.name}}</h3>
        <img
          [src]="contact?.imageUrl"
          alt="{{contact?.name}}"
          class="img-responsive"
          style="max-height: 75px">
      <div class="text-right">
        <a class="btn btn-primary" type="button" routerLink="edit">Edit</a>
        <a class="btn btn-danger" type="button" (click)="onDelete()">Delete</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
              <label>Email:</label> <span>{{contact?.email}}</span>
              <br/>
              <label>Phone:</label> <span>{{contact?.phone}}</span><!--? checks for  nulls and undefined -->
        </div>
      </div>
    </div>
  </div>
</div>
