<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-right">
        <br/>
        <br/>
        <br/>
        <button class="btn btn-primary" type="button">Clear</button>
        <button class="btn btn-danger" type="button">Delete</button>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
              <label>Email:</label>
              <br/>
              <label>Phone:</label>
        </div>
      </div>
    </div>
  </div>
</div>
